<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enoch Riese</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/mobile.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
</head>
<body data-ng-app="main">
  <div ng-if="currentPage.up" id="up-arrow">
    <a ng-click="setPage(currentPage.up)" href=""><img src="assets/images/arrow-up.png" alt="previous level"/></a>
  </div>
  <div class="name" ng-class="currentPage.category">
    <a ng-click="setPage('index')" href="">
      <div class="tint" ng-class="{magenta: currentPage.color == 0, green: currentPage.color == 1}">
        <h1>{{currentPage.title}}</h1>
      </div>
    </a>
  </div>
  <table id="top" ng-style="{width: getWidth(currentPage.numNexts.length)}">
    <tr>
      <td id="left"></td>
      <td id="right"></td>
    </tr>
  </table>
  <chart-page data-ng-if="currentPage.type == 'chart'"></chart-page>
  <info-page data-ng-if="currentPage.type == 'info'"></info-page>

  <div class="footer">
    <span>more info</span>
    <ul>
      <li>enoch.riese@gmail.com</li>
      <li><a href="enochriese_resume.pdf">resume</a></li>
    </ul>
  </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/ng-template" id="_chart.html">
  <div>
    <table id="bottom" ng-style="{width: getWidth(currentPage.nexts.length)}">
      <tr>
        <td ng-repeat="i in currentPage.nexts" class="bottom" ng-if="!$last" ></td>
      </tr>
    </table>
    <div class="info" data-ng-repeat="next in currentPage.nexts">
      <a ng-click="setPage(next.href)" href="">
        <div class="tint" ng-class="{magenta: currentPage.color == 1, green: currentPage.color == 0}">
          <p class="text">{{next.title}}</p>
          <img ng-if="next.isOut" class="out-arrow" src="assets/images/arrow-up.png" alt="up"/>
        </div>
      </a>
    </div>
  </div>
</script>
<script type="text/ng-template" id="_info.html" class="html">
  <div class="label">
    <div class="wrapper">
      <div ng-if="currentPage.img || currentPage.video" class="img">
        <img ng-if="currentPage.img" ng-src="{{currentPage.img.src}}" alt="{{currentPage.img.alt}}"/>
        <video ng-if="currentPage.video" ng-src="{{currentPage.video.src}}" id="{{currentPage.video.id}}" ng-click="vidClick($event)"></video>
        {{currentPage.img.desc}}
        {{currentPage.video.desc}}
      </div>
      <div ng-class="{description: currentPage.img || currentPage.video}" ng-bind-html="currentPage.text">
      </div>
    </div>
  </div>
</script>
</html>
