@media (max-width: 750px) {
  table {
    display: none;
  }
  .info {
    width: 70%;
    height: 70px;
    margin-top: 250px;
  }
  .info ~ .info{
    margin-top: 15px;
  }
  .tint {
    padding: 15px 0px;
  }
  .img {
    width: 95%;
  }
  .description {
    width: 95%;
  }
  #up-arrow {
    top: 15px;
    left: 15px;
  }
  #up-arrow img {
    width: 50px;
  }
  .footer li {
    display: block;
  }
  .label {
    margin-top: 250px;
    font-size: 25px;
    line-height: 40px;
  }
  .label strong {
    font-size: 28px;
  }
}
@media (max-width: 1140) {
  .img {
    width: 95%;
  }
  .description {
    width: 95%;
  }
}
