@media (max-width: 740px) {
  #top, .grid-container, chart-component > .top, info-component > .top, li.inactive {
    opacity: 0;
    overflow: hidden;
    height: 0px;
  }

  .chart-container {
    width: 90% !important;
  }

  .chart-page {
    margin-bottom: 15px;
  }

  .next-col {
    width: 100% !important;
  }
  .next-col div.info:not(.active) {
    max-width: unset;
    margin-top: 15px;
    padding: 0px;
    width: 100%;
  }

  .next-col div.info a.tint:not(.active) {
    height: auto;
    padding: 20px 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  li div.info.active {
    width: 70%;
  }

  .sub-view {
    margin-left: 0px !important;
  }

  .info .green:hover {
    background-color: rgba(0,240,10,0.2);
  }

  .info .magenta:hover {
    background-color: rgba(105,12,122,0.5);
  }

  .wrapper {
    display: block;
  }
  .img {
    width: 95%;
    margin-bottom: 10px;
  }
  .description {
    width: 95%;
  }
  #up-arrow {
    top: 15px;
    left: 15px;
  }

  .label {
    font-size: 25px;
    line-height: 40px;
    min-width: unset;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 25px;
  }
  .label strong {
    font-size: 28px;
  }
  .out-arrow {
    width: 30px;
    bottom: 10px;
    right: 10px;
    left: unset;
  }
}
@media (max-width: 1140) {
  .img {
    width: 95%;
  }
  .description {
    width: 95%;
  }
}
@media (min-width:740px) and (max-width:860px){
  .next-col div.info a.tint p.text {
    font-size: 14px;
  }
}
