<div class="label">
  <div class="wrapper">
    <div ng-if="currentPage.img || currentPage.video" class="img">
      <img ng-if="currentPage.img" ng-src="{{currentPage.img.src}}" alt="{{currentPage.img.alt}}"/>
      <video ng-if="currentPage.video" ng-src="{{currentPage.video.src}}" id="{{currentPage.video.id}}" ng-click="vidClick($event)"></video>
      {{currentPage.img.desc}}
      {{currentPage.video.desc}}
    </div>
    <div ng-class="{description: currentPage.img || currentPage.video}" ng-bind-html="currentPage.text">
    </div>
  </div>
</div>
